* { /* Selects all elements */
    box-sizing: border-box; /* Includes padding + border in element's total size */
    margin: 0px; /* Sets the margin to default to 0 for all elements */
    padding: 0px; /* Sets the padding to default to 0 for all elements */
}

:root { /* Selects the document's root element: <html> */
    background-color: #efefef;
}

body {
    background-color: #efefef;
    height: 100vh;
    width: 100%;
    display: grid;
    font-family: 'Merriweather', serif;
    font-size: 9pt;
}

.bold {
    font-weight: bold;
}
.right {
    text-align: right;
}

.gtext {
    color: #38761d;
}

.rtext {
    color: #e06666;
}

.liqbor {
    border: 1px solid #ea9999;
}

.div1 {
    background-color: snow;
    margin: auto;
    border-radius: 10px;
    padding: 8px;
}

.grid-dir {
    display: grid;
    grid-template-areas: 
        "dir calc";
}

#dir {
    background-color: #d9ead3;
    width: 24px;
    margin: 4px;
}

.rotate {
    transform: rotate(-90deg);
    color: #999999;
    font-size: 11pt;
    position: relative;
    top: 50%;
}

.h1 {
    background-color: #d9d9d9;
    height: 7px;
    padding: 0px;
}

table, td {
    border: 5px solid snow;
    border-collapse: collapse;
    text-align: left;
}

td {
    padding: 5px;
    width: 150px;
}

.c1 {
    background-color: #9fc5e8;
}

.c2 {
    background-color: #cfe2f3;
}

.c3 {
    background-color: #efefef;
}

.c4 {
    background-color: #d9ead3;
}

.c5 {
    background-color: #f4cccc;
}
