* { /* Selects all elements */
    box-sizing: border-box; /* Includes padding + border in element's total size */
    margin: 0px; /* Sets the margin to default to 0 for all elements */
    padding: 0px; /* Sets the padding to default to 0 for all elements */
}

:root { /* Selects the document's root element: <html> */
    background-color: #efefef;
}

body {
    background-color: #efefef;
    height: 100vh;
    width: 100%;
    margin: 0px;
    display: grid;
    font-family: 'Merriweather', serif;
    font-size: 10pt;
}

#div1 {
    background-color: snow;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

table, th, td {
    border: 5px solid snow;
    border-collapse: collapse;
    text-align: left;
}

th, td {
    background-color: #96D4D4;
    padding: 5px;
}

th {
    width: 150px;
}

tr {
    height: 22px;
}
